### Import the pandas library and aliasing as pd : 
*Author : Karan Arora :  iTronix Solutions

A Series is a one-dimensional object that can hold any data type such as integers, floats and strings.

pandas.Series( data, index, dtype, copy) 
<br>
1:data
data takes various forms like ndarray, list, constants
<br>
2:index
Index values must be unique and hashable, same length as data. Default np.arrange(n) if no index is passed.
<br>
3:dtype
dtype is for data type. If None, data type will be inferred\
<br>
4:copy
Copy data. Default False"""

In [1]:
import pandas as pd
import numpy as np

#### Series with Array

In [2]:
s = pd.Series()
print (s)

Series([], dtype: float64)

In [6]:
data = np.array(['a','b','c','d'])
print(data)
pd.Series(data)

['a' 'b' 'c' 'd']

0    a
1    b
2    c
3    d
dtype: object

In [8]:
pd.Series(data,index=[100,101,102,103])

100    a
101    b
102    c
103    d
dtype: object

In [12]:
Ser=pd.Series(np.random.randn(5),index=['a','b','c','d','e'])
Ser

a    0.401533
b   -0.649727
c    0.737518
d    0.157385
e   -0.935980
dtype: float64

In [13]:
Ser['a']

0.4015334868082164

In [14]:
Ser[0]

0.4015334868082164

In [16]:
Ser.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [19]:
Ser.values

array([ 0.40153349, -0.64972651,  0.73751776,  0.15738508, -0.9359796 ])

### Series with Dict.

In [22]:
data = {'x' : 10., 'y' : 11., 'z' : 12.}
Ser=pd.Series(data)
Ser

x    10.0
y    11.0
z    12.0
dtype: float64

In [27]:
Ser.index.values

array(['x', 'y', 'z'], dtype=object)

In [25]:
Ser.values

array([10., 11., 12.])

In [29]:
Ser['x']

10.0

In [30]:
Ser['x':]

x    10.0
y    11.0
z    12.0
dtype: float64

In [33]:
data = {'a' : 0., 'b' : 1., 'c' : 2.}
pd.Series(data,index=['b','c','d','a'])

b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64

In [34]:
s = pd.Series(5, index=[0, 1, 2, 3])
print (s)

0    5
1    5
2    5
3    5
dtype: int64

In [35]:
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])
s

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [37]:
s[0]

1

In [38]:
s[0:3]

a    1
b    2
c    3
dtype: int64

In [39]:
s[['a','c','d']]

a    1
c    3
d    4
dtype: int64