A panel is a 3D container of data. The term Panel data is derived from econometrics and is partially responsible for the name pandas : pan(el)da(ta)s.

The names for the 3 axes are intended to give some semantic meaning to describing operations involving panel data. They are :

    items : axis 0, each item corresponds to a DataFrame contained inside.

    major_axis : axis 1, it is the index (rows) of each of the DataFrames.

    minor_axis : axis 2, it is the columns of each of the DataFrames.

pandas.Panel()

A Panel can be created using the following constructor :
panda

In [3]:
import pandas as pd
import numpy as np

In [10]:

a=pd.DataFrame(np.random.randn(4, 3))
b=pd.DataFrame(np.random.randn(4, 2))
print(a)
print(b)
data1 = {'Item1' : a, 'Item2' : b}
p1 = pd.Panel(data1)
print (p1)
print(p1['Item1'])
print(p1['Item2'])

          0         1         2
0  0.528807 -0.866951  0.030363
1 -1.697666  0.119730 -1.282580
2  1.390936  0.874816 -1.776882
3 -0.688602  1.832936  0.285259
          0         1
0 -0.233233 -0.794780
1 -1.410601  0.966065
2  1.396968  0.141189
3 -0.007916 -2.272141
<class 'pandas.core.panel.Panel'>
Dimensions: 2 (items) x 4 (major_axis) x 3 (minor_axis)
Items axis: Item1 to Item2
Major_axis axis: 0 to 3
Minor_axis axis: 0 to 2
          0         1         2
0  0.528807 -0.866951  0.030363
1 -1.697666  0.119730 -1.282580
2  1.390936  0.874816 -1.776882
3 -0.688602  1.832936  0.285259
          0         1   2
0 -0.233233 -0.794780 NaN
1 -1.410601  0.966065 NaN
2  1.396968  0.141189 NaN
3 -0.007916 -2.272141 NaN

In [10]:
import pandas as pd
import numpy as np

In [12]:
a=pd.DataFrame(np.random.randn(4, 3))
b=pd.DataFrame(np.random.randn(4, 2))
a

          0         1         2
0 -0.704090 -0.846876 -0.058906
1 -0.905275 -0.038653 -1.193650
2  0.676213  2.088277 -0.422811
3 -1.178633 -0.273718 -1.220323

In [13]:
b

          0         1
0  1.293908  1.072180
1  0.712632 -0.978868
2  0.177771  0.534546
3 -0.356847  0.435834

In [19]:
data = {'Item1' : a, 'Item2' : b}
p=pd.Panel(data)
p['Item1']

          0         1         2
0 -0.704090 -0.846876 -0.058906
1 -0.905275 -0.038653 -1.193650
2  0.676213  2.088277 -0.422811
3 -1.178633 -0.273718 -1.220323

In [20]:
p['Item2']

          0         1   2
0  1.293908  1.072180 NaN
1  0.712632 -0.978868 NaN
2  0.177771  0.534546 NaN
3 -0.356847  0.435834 NaN