In [2]:
import pandas as pd
import numpy as np

In [3]:
d={'Name':pd.Series(['Akshay','Rajat','Robin','Kapil','James','Cyril']),'Age':pd.Series([25,26,29,27,23,21]),'Rating':pd.Series([4.23,2.35,1.56,3.20,4.62,3.99])}
df=pd.DataFrame(d)
df

     Name  Age  Rating
0  Akshay   25    4.23
1   Rajat   26    2.35
2   Robin   29    1.56
3   Kapil   27    3.20
4   James   23    4.62
5   Cyril   21    3.99

In [5]:
df.sum()

Name      AkshayRajatRobinKapilJamesCyril
Age                                   151
Rating                              19.95
dtype: object

In [6]:
df['Age'].sum()

151

In [7]:
df.Age.sum()

151

In [8]:
df.Age.mean()

25.166666666666668

In [9]:
df.Age.std()

2.8577380332470415

In [10]:
df.Age.count()

6

In [11]:
df.Age.min()

21

In [12]:
df.Age.max()

29

In [13]:
df.Age.prod()

245822850

In [14]:
df.Age.median()

25.5

In [15]:
df.Age.cumsum()

0     25
1     51
2     80
3    107
4    130
5    151
Name: Age, dtype: int64

In [16]:
df.Age.cumprod()

0           25
1          650
2        18850
3       508950
4     11705850
5    245822850
Name: Age, dtype: int64

In [17]:
import pandas as pd
import numpy as np
d={'Name':pd.Series(['Akshay','Rajat','Robin','Kapil','James','Cyril']),'Age':pd.Series([25,26,29,27,23,21]),'Rating':pd.Series([4.23,2.35,1.56,3.20,4.62,3.99])}
df=pd.DataFrame(d)
print (df)
print(df.sum())
print(df['Age'].sum())
print("Sum of Age:",df.Age.sum())
print("Mean of Age:",df.Age.mean())
print("Std. of Age:",df.Age.std())
print("Count No of Age:",df.Age.count())
print("Minimum Age:",df.Age.min())
print("Maximum Age:",df.Age.max())
print("Product of Age:",df.Age.prod())
print("Median of Age:",df.Age.median())
print("Cumsum of Age:",df.Age.cumsum())
print("Cumprod of Age:",df.Age.cumprod())

     Name  Age  Rating
0  Akshay   25    4.23
1   Rajat   26    2.35
2   Robin   29    1.56
3   Kapil   27    3.20
4   James   23    4.62
5   Cyril   21    3.99
Name      AkshayRajatRobinKapilJamesCyril
Age                                   151
Rating                              19.95
dtype: object
151
Sum of Age: 151
Mean of Age: 25.166666666666668
Std. of Age: 2.8577380332470415
Count No of Age: 6
Minimum Age: 21
Maximum Age: 29
Product of Age: 245822850
Median of Age: 25.5
Cumsum of Age: 0     25
1     51
2     80
3    107
4    130
5    151
Name: Age, dtype: int64
Cumprod of Age: 0           25
1          650
2        18850
3       508950
4     11705850
5    245822850
Name: Age, dtype: int64