In [1]:
import pandas as pd
import numpy as np
s = pd.Series(['Katrina','Raman','Jessica','Albert','1234','Smith'])
print (s)

0    Katrina
1      Raman
2    Jessica
3     Albert
4       1234
5      Smith
dtype: object

In [3]:
s.str.lower()

0    katrina
1      raman
2    jessica
3     albert
4       1234
5      smith
dtype: object

In [4]:
s.str.upper()

0    KATRINA
1      RAMAN
2    JESSICA
3     ALBERT
4       1234
5      SMITH
dtype: object

In [5]:
s.str.len()

0    7
1    5
2    7
3    6
4    4
5    5
dtype: int64

In [7]:
index=s.str.contains('a')
index

0     True
1     True
2     True
3    False
4    False
5    False
dtype: bool

In [9]:
s[index]

0    Katrina
1      Raman
2    Jessica
dtype: object

In [11]:
s.str.replace('a','@')

0    K@trin@
1      R@m@n
2    Jessic@
3     Albert
4       1234
5      Smith
dtype: object

In [14]:
s.str.repeat(2)

0    KatrinaKatrina
1        RamanRaman
2    JessicaJessica
3      AlbertAlbert
4          12341234
5        SmithSmith
dtype: object

In [15]:
s.str.count('a')

0    2
1    2
2    1
3    0
4    0
5    0
dtype: int64

In [17]:
index=s.str.startswith('S')
s[index]

5    Smith
dtype: object

In [18]:
index=s.str.endswith('a')
s[index]

0    Katrina
2    Jessica
dtype: object

In [19]:
s.str.find('n')

0    5
1    4
2   -1
3   -1
4   -1
5   -1
dtype: int64

In [20]:
s.str.findall('e')

0     []
1     []
2    [e]
3    [e]
4     []
5     []
dtype: object

In [22]:
s.str.swapcase()

0    kATRINA
1      rAMAN
2    jESSICA
3     aLBERT
4       1234
5      sMITH
dtype: object

In [23]:
s.str.islower()

0    False
1    False
2    False
3    False
4    False
5    False
dtype: bool

In [24]:
s.str.isupper()

0    False
1    False
2    False
3    False
4    False
5    False
dtype: bool

In [26]:
s[s.str.isnumeric()]

4    1234
dtype: object

In [3]:
print (s.str.lower())
print (s.str.upper())
print (s.str.len())
print (s.str.contains('a'))
print (s.str.replace('a','@'))
print (s.str.repeat(2))
print (s.str.count('a'))
print (s.str.startswith ('S'))
print (s.str.endswith('t'))
print (s.str.find('n'))
print (s.str.findall('e'))
print (s.str.swapcase())
print (s.str.islower())
print (s.str.isupper())
print (s.str.isnumeric())

0        katrina
1          raman
2        jessica
3    alberteeeee
4           1234
5          smith
dtype: object
0        KATRINA
1          RAMAN
2        JESSICA
3    ALBERTEEEEE
4           1234
5          SMITH
dtype: object
0     7
1     5
2     7
3    11
4     4
5     5
dtype: int64
0     True
1     True
2     True
3    False
4    False
5    False
dtype: bool
0        K@trin@
1          R@m@n
2        Jessic@
3    Alberteeeee
4           1234
5          Smith
dtype: object
0            KatrinaKatrina
1                RamanRaman
2            JessicaJessica
3    AlberteeeeeAlberteeeee
4                  12341234
5                SmithSmith
dtype: object
0    2
1    2
2    1
3    0
4    0
5    0
dtype: int64
0    False
1    False
2    False
3    False
4    False
5     True
dtype: bool
0    False
1    False
2    False
3    False
4    False
5    False
dtype: bool
0    5
1    4
2   -1
3   -1
4   -1
5   -1
dtype: int64
0                    []
1                    []
2                   [e]
3    [e, e, e, e, e, e]
4                    []
5                    []
dtype: object
0        kATRINA
1          rAMAN
2        jESSICA
3    aLBERTEEEEE
4           1234
5          sMITH
dtype: object
0    False
1    False
2    False
3    False
4    False
5    False
dtype: bool
0    False
1    False
2    False
3    False
4    False
5    False
dtype: bool
0    False
1    False
2    False
3    False
4     True
5    False
dtype: bool

In [27]:
print (pd.get_option("display.max_rows"))
print (pd.get_option("display.max_columns"))

pd.set_option("display.max_rows",80)
print (pd.get_option("display.max_rows"))

pd.set_option("display.max_columns",30)
print (pd.get_option("display.max_columns"))

pd.reset_option("display.max_rows")
print (pd.get_option("display.max_rows"))

60
20
80
30
60