In [1]:
import pandas as pd
import numpy as np
ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings','kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df = pd.DataFrame(ipl_data)
print(df)

      Team  Rank  Year  Points
0   Riders     1  2014     876
1   Riders     2  2015     789
2   Devils     2  2014     863
3   Devils     3  2015     673
4    Kings     3  2014     741
5    kings     4  2015     812
6    Kings     1  2016     756
7    Kings     1  2017     788
8   Riders     2  2016     694
9   Royals     4  2014     701
10  Royals     1  2015     804
11  Riders     2  2017     690

In [13]:
grouped = df.groupby('Year')
print(grouped)
for year,group in grouped:
    print (year)
    print (group)
print (grouped.get_group(2014))

print(df.groupby('Year').Points.sum())

print(df.groupby(['Year','Rank']).Points.sum())

<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x0B77B4D0>
2014
     Team  Rank  Year  Points
0  Riders     1  2014     876
2  Devils     2  2014     863
4   Kings     3  2014     741
9  Royals     4  2014     701
2015
      Team  Rank  Year  Points
1   Riders     2  2015     789
3   Devils     3  2015     673
5    kings     4  2015     812
10  Royals     1  2015     804
2016
     Team  Rank  Year  Points
6   Kings     1  2016     756
8  Riders     2  2016     694
2017
      Team  Rank  Year  Points
7    Kings     1  2017     788
11  Riders     2  2017     690
     Team  Rank  Year  Points
0  Riders     1  2014     876
2  Devils     2  2014     863
4   Kings     3  2014     741
9  Royals     4  2014     701
Year
2014    3181
2015    3078
2016    1450
2017    1478
Name: Points, dtype: int64
Year  Rank
2014  1       876
      2       863
      3       741
      4       701
2015  1       804
      2       789
      3       673
      4       812
2016  1       756
      2       694
2017  1       788
      2       690
Name: Points, dtype: int64

In [12]:
grouped = df.groupby('Year')
print (grouped['Points'].agg(np.mean))
print (grouped['Points'].agg(np.sum))
print (grouped['Points'].agg(np.average))

print (grouped['Points'].sum())
print(df.groupby('Year').Points.sum())

Year
2014    795.25
2015    769.50
2016    725.00
2017    739.00
Name: Points, dtype: float64
Year
2014    3181
2015    3078
2016    1450
2017    1478
Name: Points, dtype: int64
Year
2014    795.25
2015    769.50
2016    725.00
2017    739.00
Name: Points, dtype: float64
Year
2014    3181
2015    3078
2016    1450
2017    1478
Name: Points, dtype: int64
Year
2014    3181
2015    3078
2016    1450
2017    1478
Name: Points, dtype: int64